@model GyanmitrasMDL.User.StudentMDL
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Registration", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("~/Views/Student/_StudentRegistration.cshtml", (GyanmitrasMDL.User.StudentMDL)ViewBag.Registration)
}
@section scripts {
    <script src="~/app-assets/vendors/js/forms/select/select2.min.js"></script>
    <script src="~/assets/js/jquery.sumoselect.js"></script>
    <script type="text/javascript">

    </script>
}

