
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<hr />
<style>
    .card:hover {
        box-sizing: border-box;
        margin-bottom: 1.875rem;
        border: none;
        -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
        box-shadow: 0 1px 1px 4px rgba(62, 57, 107, .07);
    }
</style>
<br />
<div class="content-wrapper">

    <div class="content-body">
        <section class="NewformTabs">
            <div class="tab-content px-1 py-1">
                <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="true" aria-labelledby="base-tab11">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-1">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-12 mt-1 mb-2">
                                        <section id="stats-icon-subtitle">
                                            <div class="row match-height">
                                                
                                               
                                                <div class="col-xl-4 col-md-4" onclick="location.href ='/Home/CommonChat?CounselorId=12##$ASD'">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-content" id="inactive">
                                                            <div class="media align-items-stretch">
                                                                <div class="media-body p-2">
                                                                    <h4> Open Query</h4>
                                                                </div>
                                                                <div class="media-right p-2 media-middle">
                                                                    <h1 class="danger font-weight-bold" id="totalTotalInactiveValue">0</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4 col-md-4" id="AdminFeedSectionDev" onclick="$('#AdminFeedSection').slideDown(500);">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-content" id="inactive">
                                                            <div class="media align-items-stretch">
                                                                <div class="media-body p-2">
                                                                    <h4>Admin Feeds</h4>
                                                                </div>
                                                                <div class="media-right p-2 media-middle">
                                                                    <h1 class="danger font-weight-bold" id="totalTotalInactiveValue">0</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4 col-md-4"  onclick="location.href = '/Counselor/ProduceCounselingMaterials?CounselorId=12##$ASD'" >
                                                    <div class="card overflow-hidden">
                                                        <div class="card-content" id="inactive">
                                                            <div class="media align-items-stretch">
                                                                <div class="media-body p-2">
                                                                    <h4>Produce Counseling Materials</h4>
                                                                </div>
                                                                <div class="media-right p-2 media-middle">
                                                                    <h1 class="danger font-weight-bold" id="totalTotalInactiveValue">0</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>
                                        <style>
                                            .overflow-hidden {
                                                overflow: hidden;
                                            }

                                            .p-2 {
                                                padding: 1.5rem !important;
                                            }

                                            .media-body {
                                                -webkit-box-flex: 1;
                                                /*-webkit-flex: 1;
                                                -moz-box-flex: 1;
                                                -ms-flex: 1;*/
                                                flex: 1;
                                            }

                                            .card {
                                                box-sizing: border-box;
                                                margin-bottom: 1.875rem;
                                                border: none;
                                                -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
                                                box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
                                            }

                                            .align-items-stretch {
                                                -webkit-box-align: stretch !important;
                                                /*-webkit-align-items: stretch !important;
                                                -moz-box-align: stretch !important;
                                                -ms-flex-align: stretch !important;*/
                                                align-items: stretch !important;
                                            }

                                            .media {
                                                display: -webkit-box;
                                                /*display: -webkit-flex;
                                                display: -moz-box;
                                                display: -ms-flexbox;*/
                                                display: flex;
                                                /*-webkit-box-align: start;
                                                -webkit-align-items: flex-start;
                                                -moz-box-align: start;
                                                -ms-flex-align: start;
                                                align-items: flex-start;*/
                                            }

                                            .card {
                                                position: relative;
                                                display: -webkit-box;
                                                display: -webkit-flex;
                                                display: -moz-box;
                                                display: -ms-flexbox;
                                                display: flex;
                                                flex-direction: column;
                                                min-width: 0;
                                                word-wrap: break-word;
                                                border: 1px solid rgba(0, 0, 0, .06);
                                                border-radius: .35rem;
                                                background-color: #fff;
                                                background-clip: border-box;
                                                -webkit-box-orient: vertical;
                                                -webkit-box-direction: normal;
                                                -webkit-flex-direction: column;
                                                -moz-box-orient: vertical;
                                                -moz-box-direction: normal;
                                                -ms-flex-direction: column;
                                            }

                                            .card-content:hover {
                                                cursor: pointer;
                                            }
                                        </style>

                                    </div>
                                </div>




                                <section id="AdminFeedSection" style="display:none">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>Admin Feeds</h4>
                                            <div class="card">
                                                <div class="card-header">

                                                </div>
                                                <div class="card-content collapse show" style="cursor: auto;">
                                                    <div class="card-body card-dashboard  pt-0">
                                                        <div class="dataTables_wrapper">
                                                            <div id="GridDiv">
                                                                <div class="table-responsive" style="max-height: 465px;">
                                                                    <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="" width="100%" style="cursor:auto">
                                                                        <thead>
                                                                            <tr>
                                                                                <th><input type="checkbox" id="checkAll" value="" onclick="checkAll(this)"></th>
                                                                                <th class="text-center">No.</th>
                                                                                <th class="text-center">Date & Time</th>
                                                                                <th class="text-center">Description</th>
                                                                                <th class="text-center">Status</th>
                                                                                <th class="text-center">Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @*<tr>
                                                    <td colspan="14">
                                                    <div class="text-danger">
                                                    Data Not Found.
                                                    </div>
                                                    </td>
                                                    </tr>*@
                                                                            <tr>
                                                                                <td><input type="checkbox" value=""></td>
                                                                                <td class="text-center">1</td>


                                                                                <td class="text-center">
                                                                                    05/01/2020 11:00 PM
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    TEST19
                                                                                </td>

                                                                                <td align="center"><div class="success text-bold-600">Active</div></td>

                                                                                <td align="center" class="text-nowrap text-center">
                                                                                    <a class="btn btn-icon btn-dark btn-sm" href="/MstCustomer/AddEditCustomer/1562"><i class="la la-pencil"></i>View Details</a>
                                                                                    <a class="btn btn-icon btn-danger btn-sm delete" onclick="return confirm('Are&nbsp;you&nbsp;sure&nbsp;you&nbsp;want&nbsp;to&nbsp;delete?')" href="/MstCustomer/DeleteCustomer/1562 "><i class="la la-trash-o"></i>Not Interested</a>


                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>







                            </div>
                        </div>

                        @*<div class="col-lg-3 offset-lg-1">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 mt-1 mb-2">
                                            <h4>Advertisement</h4>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {

            $(".card").click(function () {
                if ($(this).find('table > tbody > tr').length <= 0) {
                    $('.card').removeAttr('style');
                    $(this).attr('style', 'background:#c5d6c5');
                }
            });
            $("#AdminFeedSectionDev").trigger('click');
            $("#AdminFeedSectionDev").find('.card').trigger('click');

            
        });
        
        

    </script>
}