@{
    ViewBag.Title = "Home Page";
}






    <div  style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.428571429;color: #333333;">
        <h1>GYANMITRAS</h1>
       
            <ul >
                <li>
                    By the efforts of the nation, since  post-independence we have achieved a lot in the field of education but the ratio of spent time to achieve goals and achieved targets is still non impressive .Still more than quarter of our population is completely uneducated .
                </li>
                <li>
                    Of course we are working hard to educate ourselves but still a shadow zone of scarcity of implementable information for poorer students exists in the nation but still the aspirations of guardians regarding education of their children is so high but then there is no proper government sponsored system of counseling for those aspiring guardians and students excluding the upcoming “VIDYANJALI” scheme of MHRD. People are not well aware of all possible career option which restrict their brain to dream broad.
                </li>
                <li>
                    This system deals with such issue broadly. GYANMITRAS initiative claims to search underprivileged students from remote areas by the help of volunteers and counsel them by imminent college students and professionals of different expertise who will either freely
                </li>
            </ul>
            <br />
        <p  >
            We all know several students who suffered from scarcity of right guidance either in their early phase of education or at intermediate and upper levels .We are all set to deal with such issues .Here the ultimate beneficiary will be the student and his family who is suffering from the scarcity of a proper guidance, who can register here themselves or will be found by admins or Gyanmtira.

        </p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">Know more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Student</h2>
        <p>
            The system enables beneficiary aspirants to enroll themselves and freely access the counselling contents and interact with the system by several communication means. Students are also having option to get academically adopted (By which they can have access of a dedicated counselor who will guide student regularly and will also resolve career related issues).

        </p>
        <p><a class="btn btn-default" href="Student/Registration">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Counselor</h2>
        <p>
            A counselor after registering and getting approved by the system can counsel a student. To become a counselor one needs to fulfill some eligibility criteria’s fixed by the system. A working employee, retired persons or student pursuing higher education all these can become e a counselor .He has also the option to academically adopt a student or a group of a student of his own choice and to be in touch with them and guide them time to time by available mediums over this platform. .Several resources will also be provide by the admins to the counselors Volunteer
        </p>
        <p><a class="btn btn-default" href="Counselor/Registration">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Volunteer</h2>
        <p>
            One can also join us as a volunteer who can help us to find the needy students from several remote areas. There is no eligibility criteria to become a volunteer. Volunteers for their proper functioning will be provided support from Admin. Volunteers will also be able to connect from other volunteer in a particular working geography.
        </p>
        <p><a class="btn btn-default" href="Volunteer/Registration">Register Now &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <p>Resize the browser window to see how the size of the video player will scale.</p>
    </div>
    <div class="col-md-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <p>Resize the browser window to see how the size of the video player will scale.</p>
    </div>
    <div class="col-md-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <p>Resize the browser window to see how the size of the video player will scale.</p>
    </div>
    <div class="clearfix">
    </div>
</div>
